.item {
    width: 280px; 
}

.item img{
    width: 280px;
}

.item p {
    margin: 6px 0;
}

.item-prices {
    display: flex;
    gap: 20px;
    align-items: center;
}

.item-price-new {
    color: #000000;
    font-size: 30px;
    font-weight: 600;
}

.item-price-old {
    color: #9ca3af;
    font-size: 20px;
    text-decoration: line-through;
    font-weight: 500;

}

.item:hover {
    transform: scale(1.05);
    transition: transform 0.6s ease;
}

@media(max-width:1280px){
    .item{
        width: 220px;
        font-size:14px;
    }

    .item img{
        width:220px;
    }

    .item-price-old{
        font-size:16px;
    }
    .item-price-new {
        font-size: 20px;
    }
}

@media(max-width:1024px){
    .item{
        width: 170px;
        font-size:13px;
    }

    .item img{
        width:170px;
    }

    .item-price-old{
        font-size:14px;
    }
    .item-price-new {
        font-size: 18px;
    }
}

@media(max-width:800px){
    .item{
        width: 120px;
        font-size:12px;
    }

    .item img{
        width:120px;
    }

    .item-price-old{
        font-size:12px;
    }
    .item-price-new {
        font-size: 16px;
    }
}

@media(max-width:500px){
    .item{
        width: 160px;
        font-size:13px;
    }

    .item img{
        width:160px;
    }

}