.cartitems{
    margin: 100px 170px;
}

.cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px;
    color: #454545;
    font-size: 22px;
    font-weight: 700;
}

.cartitems-format{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    font-size: 18px;
    font-weight: 500;
}

.carticon-product-icon{
    padding-left: 30px;
    height: 100px;
}

.cartitems-remove-icon {
    width: 15px;
    margin: 0px;
    cursor: pointer;
}

.cartitems-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #fff;
    font-size: 16px;
}

.cartitems-down {
    display: flex;
    margin: 100px 0px;
    gap: 100px; 
}

.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cartitems-total h1 {
    font-size: 32px;
    color: #0f0400;
    margin-bottom: 20px;
}

.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    font-size: 18px;
}

.cartitems-total-item h3 {
    font-size: 24px;
    color: #0f0400;
}

.checkout-btn {
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px;
}

.cartitems-promocode {
    flex: 1;
}

.cartitems-promocode p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.cartitems-promobox {
    display: flex;
    border: 1px solid #e2e2e2;
    background: #eaeaea;
    padding: 0;
    border-radius: 4px;
    height: 58px; 
    align-items: center;
}

.cartitems-promobox input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    padding: 0 15px;
    height: 100%;
}

.submit-btn {
    width: 170px;
    height: 100%; 
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 0 4px 4px 0;
    font-weight: 600;
}

@media(max-width: 1280px){
    .cartitems{
        margin: 60px 80px; /* Fixed typo: was .cart-items */
    }

    .cartitems-format-main,
    .cartitems-format{
        grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr; /* 5 columns: hide Price */
        gap: 40px;
        padding: 15px 0px;
        font-size: 18px;
    }

    /* Hide Price column */
    .cartitems-format-main p:nth-child(3),
    .cartitems-format p:nth-child(3) {
        display: none;
    }

    .carticon-product-icon{
        padding-left: 0;
        height: 80px;
    }

    .cartitems-remove-icon{
        width: 14px;
        margin: 0px 20px; /* Reduced margin */
    }

    .cartitems-quantity{
        width: 55px;
        height: 45px;
        font-size: 14px;
    }

    .cartitems-down{
        margin: 60px 0px;
        flex-direction: column;
        gap: 60px;
    }

    .cartitems-total h1 {
        font-size: 28px;
    }

    .cartitems-total-item{
        font-size: 16px;
    }

    .cartitems-total-item h3 {
        font-size: 20px;
    }

    .checkout-btn {
        width: 220px;
        height: 50px;
        font-size: 15px;
    }

    .cartitems-promobox{
        max-width: 500px;
        height: 50px;
    }

    .cartitems-promobox input {
        font-size: 15px;
    }

    .submit-btn {
        width: 140px;
        font-size: 15px;
    }
}

@media(max-width:500px){

    .cartitems-format-main{
        display: none;
        grid-template-columns: 0.5fr 3fr 0.5fr;
        gap: 10px;

    }

    .cartitems-format{
        display: grid;
    }
}