.newsletter {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 0px 140px;
    margin-top: 200px;
    margin-bottom: 150px;
    gap: 30px;
}

.newsletter h1 {
    font-size: 55px;
    font-weight: 600;
    color: #171717;
}

.newsletter p {
    font-size: 20px;
    color: #454545;
    text-align: center;
}

.newsletter div {
    width: 730px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 80px;
    border: 1px solid #C4C4C4;
    position: relative;
}

.newsletter input {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 80px;
    padding-left: 30px;
    padding-right: 200px; 
    font-size: 18px;
    color: #454545;
}

.newsletter button {
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 80px;
    background: #171717;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: absolute; 
    right: 0; 
    top: 0;
}

@media(max-width:1280px){
    .newsletter{
        padding: 0px 80px;
        margin-bottom: 120px;
        gap: 20px;
    }

    .newsletter h1{
        font-size: 36px;
    }

    .newsletter p{
        font-size: 16px;
    }

    .newsletter div{
        width: 600px;
        height: 60px; 
    }

    .newsletter input{
        height: 60px; 
        font-size: 16px;
        padding-right: 170px; 
    }

    .newsletter button{
        width: 160px;
        height: 60px;
        font-size: 16px;
    }
}

@media(max-width:1024px){
    .newsletter{
        margin-bottom: 60px;
    }

    .newsletter h1{
        font-size: 30px;
    }

    .newsletter p{
        font-size: 14px;
    }

    .newsletter div{
        width: 500px;
        height: 50px; 
    }

    .newsletter input{
        height: 50px; 
        font-size: 14px;
        padding-left: 25px;
        padding-right: 130px; 
    }

    .newsletter button{
        width: 120px;
        height: 50px; 
        font-size:14px;
    }
}

@media(max-width:800px){
    .newsletter{
        margin-bottom: 30px;
        height: auto; 
        min-height: 35vh; 
    }

    .newsletter h1{
        font-size: 18px;
    }

    .newsletter p{
        font-size: 12px;
    }

    .newsletter div{
        width: 400px;
        height: 40px; 
    }

    .newsletter input{
        height: 40px; 
        font-size: 13px;
        padding-left: 20px; 
        padding-right: 130px; 
    }

    .newsletter button{
        width: 120px;
        height: 40px; 
        font-size:13px;
    }
}

@media(max-width:500px){
    .newsletter{
        height: auto;
        min-height: 25vh;
        width: 100%;
        padding: 0;
        gap: 15px;
        margin-top: 100px; 
        margin-bottom: 80px; 
    }

    .newsletter h1{
        font-size: 16px;
    }

    .newsletter p{
        font-size: 13px;
        max-width: 200px;
        text-align: center;
    }

    .newsletter div{
        width: 290px;
        height: 40px; 
    }

    .newsletter input{
        height: 40px; 
        font-size: 12px;
        padding-left: 15px; 
        padding-right: 110px; 
    }

    .newsletter button{
        width: 100px;
        height: 40px; 
        font-size: 12px;
    }
}